{% extends "layout.html" %}

{% block title %}
    Kjøp og betaling
{% endblock %}

{% block main %}

<div class="betaling">
    <h5> Kjøp og betaling </h5>
    <p>Vi tar betalt for tiden våres. Klienters faktureres for tidsbruk. En konsultasjontime må gjennomføres før et varig kundeforhold kan etableres. Vi anbefaler å book 30 minutter første gang. Etter at du har betalt vil du bli kontaktet for å koordinere konsultasjonen.
        Bestilling og betaling skjer via betalingslenker gitt her. Dersom du ønsker å forbli anonym må du betale med Bitcoin eller ta kontakt med oss via meldingsfunksjonen.

      <br> Vi er opptatt av å imøtekomme den klienters foretrukkne betalingsmetode. Betalingsmetode og betalingsmidler kan derforvariere fra klient til klient. Alterantive betalingsbetingelser og videre
      prosesse vurderes i etterkant av den først konsultasjonen.
    </p>

    <h6> <span style="color: green">&#36</span> Fiat (NOK)  - <a href="https://payment-link-oslo.myshopify.com/"> betalingslenke </a> </h6>

    </p>
        <!-- <br>Selskapet operer på og er tuften på Bitcoin-standarder. <br>Det betyr at default betalingsmiddel er Bitcoin. <br> Vi aksepterer on-chain og lightning betalinger. -->
    </p>

    <!-- <h6> <span style="color: #f2a900">&#8383</span>itcoin (BTC)  - <a href="http://umbrel.local:3003/payment-requests/7bb410ad-d41b-4b37-8b47-a44cd571b136"> Betalingslenke</a> </h6> -->

{% endblock %}
