{% extends "landingpage.html" %}

{% block title %}
    Kjøp og betaling
{% endblock %}

{% block main %}

<div id="landingpage">
    <div id="kontakt">
    <h5> Bli kunde </h5>
    <p>Vi tar betalt for tiden vår, da vår ekspertise nærmest er uten konkurrenter. En konsultasjontime må gjennomføres før et varig kundeforhold kan etableres. Mye av arbeidet vårt handler om ekstremt personsensetiv informasjon.
        Vi anbefaler å book 30 minutter første gang, men man har mulighet til book flere sesjoner samtidig. Etter at du har betalt vil du bli kontaktet for å koordinere konsultasjonen.
        Bestilling og betaling skjer via betalingslenker gitt nedenfor. Dersom du ønsker å forbli anonym må du ta kontakt med oss via epost eller Discord.

      <br> <br> Vi er opptatt av å imøtekomme den klienters foretrukkne betalingsmetode. Betalingsmetode og betalingsmidler kan derforvariere fra klient til klient. Alterantive betalingsbetingelser og videre
      prosesse vurderes i etterkant av den først konsultasjonen.
    </p>

    <h6> Betaling i NOK  - <a href="https://payment-link-oslo.myshopify.com/"> Bestill trygt og sikkert via Shopify her.</a></h6>
    </p>
        <!-- <br>Selskapet operer på og er tuften på Bitcoin-standarder. <br>Det betyr at default betalingsmiddel er Bitcoin. <br> Vi aksepterer on-chain og lightning betalinger. -->
    </p>

    </div>
</div>

    <!-- <h6> <span style="color: #f2a900">&#8383</span>itcoin (BTC)  - <a href="http://umbrel.local:3003/payment-requests/7bb410ad-d41b-4b37-8b47-a44cd571b136"> Betalingslenke</a> </h6> -->

{% endblock %}
