{% extends "landingpage.html" %}

{% block title %}
    Tjenester
{% endblock %}

{% block main %}
<div id="landingpage">

    <div id="Om_oss">
        <h5> Kort om oss</h5>

        <p>
            Vi skal imøtekomme privatpersonsers behov for profesjonell økonomisk rådgivning, porteføljekonstruksjon, skatterådgivning og personlig utvikling.
        </p>

        <p>
            Vårt team har lang erfaring innen økonomi, investering, skatt og personlig utvikling,
            og vi jobber hardt for å sikre at våre klienter får den best mulige støtten og rådgivningen.
            Vi ønsker å være en pålitelig partner for våre klienter, og vi legger stor vekt på å bygge langsiktige og tillitsfulle relasjoner.
            Uansett hvilke utfordringer du står overfor, står vi klare til å hjelpe deg med å finne løsninger og nå dine mål. Vi fokuserer på mulighetsoptimalisering for klienter.
        </p>

        <p>
            Vår filosofi og kultur er inspirert av Warren Buffet og Charlie Mungers Berkshire Hathaway. Vi legger størst vekt på <span style="font-weight:bold">integritet</span>, edrulighet og kundetilfredshets. Vi ønsker å hjelpe klienter unngå katastrofer samtidig som vi ønsker å fryde.
        </p>

        <p>
            Individers rettigheter og friheter er blitt redusert de seneste årene og vi forutsetter at disse frihetene vil reduseres ytterligere fremover.
            Det er derfor viktigere enn noen gang å beskytte den enkelte og felleskapets eierskap fremover. Vi ønsker å bidra til å øke og sikre den økonomisk friheten til våre klienter gjennom våre tjenester.
        </p>

        <p>
            <span style="text-decoration: underline">Vi tilbyr kun tjenester til klienter i Osloområdet</span>. Alle kunderelasjoner etableres med fysisk møte eller videkonferanse. Dersom klienten ønsker å forbli anonym, tilbyr vi selvsagt muligheten for det.
        </p>

    </div>

</div>

{% endblock %}
