<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link rel="icon" href="/static/logo.jpg">
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
        <link href="/static/style.css" rel="stylesheet">

        <title>Ta kontroll</title>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11232108609">
        </script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11232108609');
        </script>

        <!-- Event snippet for Kjøp conversion page
        In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
        <script>
            function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof(url) != 'undefined') {
                window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-11232108609/tAKnCJzZqrAYEMHA8esp',
                'transaction_id': '',
                'event_callback': callback
            });
            return false;
            }
            </script>
    

    </head>

    <body>
    <div class="superclass_nav">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                        <img src="/static/logo.jpg" width='50px' height='50px'>
                        <ul id="turq_text" class="navbar-nav me-auto mt-2">
                            <li class="nav-item""><a id="turq_text" class="nav-link" href="/">Kort om oss</a></li>
                            <li class="nav-item"><a id="turq_text"class="nav-link" href="/tjenester">Våre tjenester</a></li>
                            <li class="nav-item"><a id="turq_text"class="nav-link" href="/bli_kunde">Bli kunde</a></li>
                            <li class="nav-item"><a id="turq_text"class="nav-link" href="/kontakt">Kontakt</a></li>
                        </ul>
                        <ul id="mark_red" class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/login">Logg inn</a></li>
                        </ul>
                </div>
            </div>
        </nav>
    </div>

    <main class="container-fluid py-5 text-left">
        {% block main %}{% endblock %}
    </main>

    </body>

    <script src="{{ url_for('static', filename='/main.js') }}"></script>

</html>