{% extends "landingpage.html" %}

{% block title %}
    Tjenester
{% endblock %}

{% block main %}
<div id="landingpage">
    <div id="tjenester">
        <h5> Våre tjenester </h5>
        
        <div id="produkter">
            <h6> Økonomisk rådgivning </h6>
            <p> Vi tilbyr økonomisk rådgivning til privatpersoner. Vi kan håndter det meste. Avhenging av type oppdrag og oppdragsgiver kan vi i noen tilfeller også bistå bedrifter.
            </p>
        </div>

        <div id="produkter">
            <h6> Investering </h6>
            <p>Vi tilbyr profesjonell rådgivning og hjelp til å bygge en lønnsom og balansert portefølje.
                Aksjefond vi har rådgitt har slått NASDAQ-indeksen med 2 prosentpoeng i de siste fire årene, uten at vi har tatt vesentlig risiko. På samme måte som Charlie Munger og Warren Buffet, ser vi på risiko som forretningsrisiko og ikke volatilitet.
                Våre investeringråd utarbeides på bakgrunn av enn omfattende analyse av klientens gjeld, aktiva,  riskotoleranse, den makroøkoniske situasjonen i Norge og verden for øvrig, og forventinger rundt politiske rammer.
                Våre tjenester inkludere også valg av tekniske løsninger og gjennomføring.
            </p>
        </div>

        <div id="produkter">
            <h6> Økonomisk frihet </h6>
            <p> Vi er spesialisert innenfor området økonomisk frihet. Det innebærer i all hovedsak rådgiving og teknisk ekspertise på alternative pengesystemer og alternative penegesystemers grenseflater mot banksystemet.
                Vi tilbyr blant annet teknisk ekspertise for å trygt investere i og ha privat kontroll over <span style="color: #f2a900">&#8383</span>itcoin.
                Vi tilbyr i tillegg ekspertise inne kjøp, salg og lagring av gull. Vi hjelper klienter med å navigere og sikre verdier i en digital og fysisk verden.
            </p>
        </div>

        <div id="produkter">
            <h6> Skatt </h6>
            <p>
                Vi tilbyr skatterettslig rådgivning for privatpersoner. Vi hjelper deg å forstå skattereglene og hvordan du kan optimalisere skatteposisjonen din. Våre rådgivere har solid kunnskap om norsk skatterett og har lang erfaring med å bistå våre klienter med å håndtere skattespørsmål av ulike slag.
                Vi tilbyr også bistand i forbindelse med skatterevisjon og eventuelle forhandlinger med skattemyndighetene. Vi tilbyr i tillegg råd og tekniske støtte for beskattning av digitale aktivaer.
            </p>
        </div>

        <!--
        <div id="produkter">
            <h6 id="coaching"> Coaching, kosthold og livsstil </h6>
            <p>
                Vi tilbyr personlige coachingtjenester for mennesker som ønsker å forbedre livet sitt og nå sine mål. Våre coachingprogrammer inkluderer også en introduksjon til holistisk livsstil og hvordan du kan adobtere natrulige og effektive verdier og ideologier.
                Kosthold, fysiske utfordringer, mental trening og verktøy for mellomenneskelig utvikling er en viktig del av vårt program. Våre coacher har erfaring med å støtte mennesker som lever både tradisjonelle og utradisjonelle livsstiler, og forstår de utfordringene og mulighetene dette kan bringe.
                Vi hjelper deg med å integrere verdier og ideologier i livet ditt på en måte som gir mening for deg, samtidig som vi støtter deg i å nå dine personlige mål. Vårt mål er å hjelpe deg å leve et mer bevisst og tilfredsstillende liv.
            </p>
        </div>
        -->
        
        <div id="produkter">
            <h6> Månedlig abonnement </h6>
            <p>
                Vi tilbyr månedlig abonnement til utvalgte klienter. Abonnement inkludere tilgang på alle tjenestområdene og tilgjenglighet 16 timer om dagen 7 dager i uken.
            </p>
        </div>



    </div>
</div>
{% endblock %}
